<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="backlink" href="/">&#xe113;</a>
                <h1 class="hidden-xs">Google Music</h1>
                <input id="search" class="pull-right" ng-model="query" type="text"  placeholder="Search">
            </div>
        </div>
    </div>
</header>


<section id="library">
    <div class="col-md-2" ng-repeat="(key, value) in albums | groupBy: 'album'">
        <a href="/googlemusic/#/tracks/{{value[0].albumId}}">
            <div class="thumbnail">
                <img src="{{value[0].albumArtRef[0].url}}" class="img-responsive" >
                <div class="caption">
                    <p>
                        <span class="album-title"> {{value[0].album}}</span>
                        <span class="album-artist"> {{value[0].artist}}</span>
                        <span class="album-year"> {{value[0].year}}</span>
                    </p>
                </div>
            </div>
        </a>
    </div>
</section>
