extends /layout

block declarations
    - body_class            = 'GoogleMusic';
    - use_angular           = true;
    - angular_app           = "GoogleMusicApp";
    - angular_body_ctrl     = "GoogleMusicCtrl";

block additional_css
    link(rel='stylesheet', href='/googlemusic/css/style.css')

block additional_scripts
    script(src="/googlemusic/js/app.js")
    script(src="/googlemusic/js/remote.js")
block body
    div(ng-view)

